<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="canonical" href="https://www.roaxviviendas.com.ar">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/bootstrap-4.6.0-dist/css/bootstrap.css">
        <link rel="stylesheet" href="../assets/styles.css">
        <title>Preguntas frecuentes - Roax</title>
    </head>
    <body>
        <main>
            <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                <div class="col-sm-2 col-2 col-xs-2 col-md-2 col-lg-1 sticky-top pb-1 bg-white">
                    <a href="../index.html">
                        <img src="../img/logo.svg" alt="Logo">
                    </a>
                </div>
                <button class="navbar-toggler menu" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse position-relative menu" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                            Modelos
                            </a>
                            <div class="dropdown-menu menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/views/casas/modelos_un_dormitorio.html">Una habitación</a>
                                <a class="dropdown-item" href="/views/casas/modelos_dos_dormitorios.html">Dos habitaciones</a>
                                <a class="dropdown-item" href="/views/casas/modelos_tres_dormitorios.html">Tres habitaciones</a>
                                <a class="dropdown-item" href="/views/casas/modelos_cuatro_dormitorios.html">Cuatro habitaciones</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./metodo_constructivo.html">Metodo constructivo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./preguntas.html">Preguntas frecuentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <section class="container">
                <h1 class="text-center">Preguntas frecuentes</h1>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark"
                                data-toggle="collapse"
                                href="#pregunta1">
                                <p class="text-center"><strong>¿Qué es una casa industrializada?</strong></p>
                            </a>
                        </div>
                        <div id="pregunta1"
                            class="collapse"
                            data-parent="#accordion">
                            <div class="card-body">
                                Las casas industrializadas son viviendas construidas en fábricas y posteriormente ensambladas en su ubicación final.
                                Este sistema permite reducir el costo y que la construcción se realice de una manera más rápida y eficiente. También
                                disminuye de manera considerable el impacto ambiental.
                                Este tipo de construcciones es el más utilizado en américa del norte y gran parte de Europa y continua su crecimiento
                                por todo el mundo.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark"
                                data-toggle="collapse"
                                href="#pregunta2">
                                <p class="text-center"><strong>¿Qué ventajas ofrece una vivienda industrializada?</strong></p>
                            </a>
                        </div>
                        <div id="pregunta2" class="collapse"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>Las principales ventajas son:</p>
                                <p class="pt-2"><strong>Precios más accesibles:</strong>Esto se debe a la reducción de mano de obra utilizada.</p>
                                <p class="pt-2"><strong>Más eficientes:</strong>Ya que las viviendas son más térmicas gracias a la utilización de aislantes, reduciendo así, los gastos de refrigeración y calefacción del hogar.</p>
                                <p class="pt-2"><strong>Rapidez:</strong>En un plazo de 30 días desde la firma del contrato podés tener tu vivienda instalada.</p>
                                <p class="pt-2"><strong>Menor impacto ambiental:</strong>Al reducir los desechos generados y no requerir el uso de agua para la construcción.</p>
                                <p class="pt-2"><strong>Control de calidad:</strong>Antes de que su vivienda sea despachada de nuestra fabrica, es sometida a estrictos controles de calidad.</p>
                                <p><strong>Son construcciones sismo resistentes.</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark"
                                data-toggle="collapse"
                                href="#pregunta3">
                                <p class="text-center"><strong>¿Cómo comprar?</strong></p>
                            </a>
                        </div>
                        <div id="pregunta3" class="collapse"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>Como primer paso para señar la vivienda se debe abonar el 10% del valor, para congelar el precio y firmar el contrato, 50% para iniciar la construcción en la planta industrial y el 40% restante al momento de la entrega. Entre cada pago el plazo máximo de espera es de 1 mes.
                                    Este ultimo 40% puede pagarse en 6,12,18,24,30 o 36 <strong>cuotas fijas y en pesos.</strong></p>
                                <p>También contamos con financiación propia, con la cual vas a poder abonar tu hogar, con <strong>aportes del monto que vos elijas, fijos y en pesos.</strong> No requiere entregas ni anticipos. Una vez llegado al valor requerido entregamos tu vivienda y financiamos el resto en hasta <strong>36 cuotas fijas y en pesos.</strong></p>
                                <p>Para más información llenar el formulario de contacto, llamar al 3541-1111111 o comunícate con Roaxviviendas@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark"
                                data-toggle="collapse"
                                href="#pregunta4">
                                <p class="text-center"><strong>¿Qué diferencia a las casas Roax?</strong></p>
                            </a>
                        </div>
                        <div id="pregunta4" class="collapse"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>Lo que principalmente diferencia a las viviendas Roax son su <strong>calidad</strong> y <strong>terminaciones</strong>. Esto se debe a que:</p>
                                <p><strong>Nuestras paredes:</strong> Son las más anchas y por lo tanto más sólidas del mercado, estas tienen un ancho de <strong>17 centímetros</strong> el triple de lo ofrecido en promedio. Lo que se traduce en una <strong>mayor durabilidad, rigidez estructural y aislación</strong> termo-acústica.</p>
                                <p><strong>Mejor aislación:</strong> Utilizamos en paredes poliestireno expandido de 50mm, aislante termo-acústico por excelencia. Nuestras paredes poseen una cámara de aire que <strong>aumenta la eficiencia térmica</strong> y además aplicamos revoque plástico en paredes exteriores el cual disminuye la transferencia de temperatura y es <strong>impermeable.</strong></p>
                                <p><strong>Mejores terminaciones:</strong> Entregamos nuestras viviendas con <strong>juntas tomadas</strong> y con <strong>revoque plástico aplicado</strong> en exteriores, de color a elección del cliente. Además, <strong>colocamos cantoneras</strong> de chapa galvanizada en paredes internas, externas y aberturas.</p>
                                <p>Nuestras terminaciones generan una <strong>mayor durabilidad</strong> de los componentes y un <strong>excelente acabado</strong> de la vivienda. </p>
                                <p>Para más información mirá nuestro <a href="/views/metodo_constructivo.html">método constructivo</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark"
                                data-toggle="collapse"
                                href="#pregunta5">
                                <p class="text-center"><strong>¿Porque elegirnos?</strong></p>
                            </a>
                        </div>
                        <div id="pregunta5" class="collapse"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p>Elegirnos significa que usted obtendrá su casa según lo pactado; Tu hogar será de <strong>alta calidad</strong>, elaborado con excelentes materiales y desarrollado en todas sus etapas a partir de mano de obra calificada.</p>
                                <p>Nuestro compromiso con nuestros clientes es total, es por eso que entregamos <strong>viviendas duraderas y confortables</strong>, pensando a futuro y, además, contamos con un sistema de financiación transparente para facilitarle el acceso a su hogar.</p>
                                <p><strong>¡Elegirnos es una decisión inteligente!</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://wa.me/3518581684/?text=Hola%20tengo una consulta%20con uno de los modelos." target="_blank">
                    <img src="/img/icons/WApp.svg" alt="WppI" class="WppWidget">
                </a>
            </section>
            <section>
                <div class="containr menu text-white">
                    <div class="row justify-content-center pb-4 pt-2 m-0">
                        <div class="col-md-6">
                            <h1>Envianos tu mensaje</h1>
                            <form target="_blank" action="https://formsubmit.co/roaxviviendas@gmail.com" method="POST">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <input type="text" name="name" class="form-control" placeholder="Nombre" required>
                                    </div>
                                    <div class="col">
                                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="ciudad" class="form-control" placeholder="Ciudad" required>
                                    </div>
                                    <div class="col">
                                        <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" class="form-control" placeholder="Teléfono" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="preguntas">
                                <textarea placeholder="Tu mensaje" class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-lg btn-dark btn-block">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="container mt-5">
                    <div class="row mt-2">
                        <div class="col-md-2 col-xs-12 logo-footer container">                        
                            <a href="../index.html">
                                <img src="../img/logo.svg" alt="Logo Roax">
                            </a>
                        </div>              
                        <div class="col-md-3 col-xs-12">
                            <h4 class="text-uppercase">ubicación</h4>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d300.9436681329084!2d-64.18829068421768!3d-31.419954336465082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a32dcf5d747f%3A0x40373220b29140ac!2sPatio%20Olmos%20Shopping!5e0!3m2!1ses!2sar!4v1667692765526!5m2!1ses!2sar"
                                width="280" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-uppercase">Horario de atencion</h4>
                            <p>Lunes a Viernes de 9:00 a 18:00 hs</p>
                            <h4 class="text-uppercase">contacto</h4>
                            <div><a href="https://wa.me/3518581684/?text=Hola%20tengo una consulta%20con uno de los modelos." target="_blank"><img src="../img/icons/WppI.svg" alt="wpp icon" class="ficon">0351 15-858-1684</a></div>
                            <div><img src="../img/icons/@.svg" alt="email icon" class="ficon"><a href="mailto:Roaxviviendas@gmail.com"> Roaxviviendas@gmail.com</a></div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <h4 class="text-uppercase">seguinos</h4>
                            <div><img src="../img/icons/fb.svg" alt="facebook" class="ficon"><a href="https://www.facebook.com/people/Roax-Viviendas/100083296300694/" target="_blank">Roax-Viviendas</a></div>
                            <div><a href="https://www.instagram.com/roaxviviendas/" target="_blank"><img src="../img/icons/IgI.svg" alt="instagram"  class="ficon">@roaxviviendas</a></div>
                        </div>
                    </div>
                    <div class="row">
                        © 2022 Copyright: Roax.com
                    </div>
                </div> 
            </footer>
        </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>