<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="canonical" href="https://www.roaxviviendas.com.ar">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/bootstrap-4.6.0-dist/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/styles.css">
        <title>Modelo Madrid</title>
    </head>
    <body>
        <main>
            <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                <div class="col-sm-2 col-2 col-xs-2 col-md-2 col-lg-1 sticky-top pb-1 bg-white">
                    <a href="/index.html">
                        <img src="/img/logo.svg" alt="Logo">
                    </a>
                </div>
                <button class="navbar-toggler menu" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse position-relative menu" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/index.html">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                            Modelos
                            </a>
                            <div class="dropdown-menu menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/views/casas/modelos_un_dormitorio.html">Un dormitorio</a>
                                <a class="dropdown-item" href="/views/casas/modelos_dos_dormitorios.html">Dos habitaciones</a>
                                <a class="dropdown-item" href="/views/casas/modelos_tres_dormitorios.html">Tres habitaciones</a>
                                <a class="dropdown-item" href="/views/casas/modelos_cuatro_dormitorios.html">Cuatro habitaciones</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/metodo_constructivo.html">Metodo constructivo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/preguntas.html">Preguntas frecuentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <section>
                <div class="container">        
                    <h1 class="text-center pt-4 pb-2">Modelo Madrid</h1>
                    <div class="p-2 row container-fluid">
                        <div id="una" class="carousel slide col-md-6 mb-4 mt-4" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="" data-toggle="modal" data-target="#lightbox">
                                        <a href="#una" class="carousel-control-prev" data-slide="prev" role="button" data-slide="prev" >
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <img src="/img/models/CDHRM4.png" data-target="#indicators" data-slide-to="0" alt="" class="mimg"/>
                                        <a href="#una" class="carousel-control-next" data-slide="next" role="button" data-slide="next" >
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>               
                                </div>
                                <div class="carousel-item">
                                    <div class="" data-toggle="modal" data-target="#lightbox">
                                        <a href="#una" class="carousel-control-prev" data-slide="prev" role="button" data-slide="prev" >
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <img src="/img/models/CDHCM4&5.png" data-target="#indicators" data-slide-to="1" alt="" class="mimg"/>
                                        <a href="#una" class="carousel-control-next" data-slide="next" role="button" data-slide="next" >
                                            <span class="carousel-control-next-icon"></span>
                                        </a>        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-4">
                            <p>
                                Vivienda de estilo americano, su techo en forma de L que le otorga estilo y elegancia. Al entrar nos encontramos con un
                                ambiente espacioso con amplios ventanales para disfrutar de una gran iluminación natural. Posee un baño y dos
                                habitaciones amplias. En su exterior se encuentra una galería-cochera ideal para pasar momentos al aire libre con
                                familiares y amigos. 
                            </p>
                            <p>
                                En su exterior se encuentra una galería-cochera ideal para pasar momentos al aire libre con familiares y amigos.
                            </p>
                            <p  class="mb-4">
                                ¡Conoce nuestro <a href="/views/metodo_constructivo.html">método constructivo</a>!
                            </p>
                            <div class="pt-4">
                                <p><img src="/img/icons/ruler-solid.svg" alt="House icon" class="iicon"><strong class="mr-5">Dimensiones</strong>70 m² </p>
                                <p><img src="/img/icons/hri.svg" alt="House icon" class="iicon"><strong class="mr-5">Ambientes</strong>&nbsp;&nbsp;&nbsp; 3</p>
                                <p><img src="/img/icons/bthi.svg" alt="House icon" class="iicon"><strong class="mr-5">Baños</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1</p>    
                            </div>
                        </div>
                    </div>
                            <!-- Modal -->
                        <div class="modal fade w-100 p-2" id="lightbox" role="dialog" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-lg" role="document">
                                <div class="modal-content">
                                    <button type="button" class="close text-right p-2" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div id="indicators" class="carousel slide" data-interval="false">
                                        <ol class="carousel-indicators">
                                            <li data-target="#indicators" data-slide-to="0" class="active"></li>
                                            <li data-target="#indicators" data-slide-to="1"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100 p-2" src="/img/models/CDHRM4.png" alt="Modelo Madrid">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100 p-2" src="/img/models/CDHCM4&5.png" alt="Plano Madrid">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#indicators" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#indicators" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row container m-3">
                        <div class="col-md-4">
                            <h3>Paredes</h3>
                            <ul>
                                <li>Paredes de 17cm.</li>
                                <li>Exterior: Placa fibrocemento 6mm.</li>
                                <li>Interior: Placa de Yeso 12.5mm.</li>
                                <li>Baños y cocina: placa de fibrocemento 6mm.</li>
                                <li>Bastidores de madera de 6X2" pulgadas.</li>
                                <li>Barrera hidrófuga y de vapor, membrana tipo Wichi.</li>
                                <li>Aislación térmica y acústica poliestireno expandido 50mm y cámara de aire.</li>
                                <li>Cantoneras de chapa galvanizada en paredes interiores, exteriores y aberturas.</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>Techos</h3>
                            <ul>
                                <li>Chapa prepintada o galvanizada según corresponda C25 (antigranizo)</li>
                                <li>Cumbreras</li>
                                <li>Cabriadas dobles reforzadas de madera maciza 3x1".</li>
                                <li>Correas de madera 2x2"</li>
                                <li>Espuma de poliestileno aluminizada.</li>
                                <li>Cielorraso placa de yeso 12.5mm.</li>
                                <li>Cenefas.</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>Aberturas</h3>
                            <ul>
                                <li>Puertas exteriores de doble chapa inyectada en pouliretano.</li>
                                <li>Ventanas corredizas de aluminio blanco o negro según corresponda</li>
                                <li>Contramarcos de fibrocemento en exteriores.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row container m-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <h3>Instalaciones</h3>
                            <ul>
                                <li>Cañería de agua y gas en termofusión.</li>
                                <li>Llaves de paso.</li>
                                <li>Caños corrugados.</li>
                                <li>Cajas de Luz.</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>Bonificaciones</h3>
                            <ul>
                                <li>Revoque plástico texturado aplicado en paredes exteriores.</li>
                                <li>Puerta placas para interiores.</li>
                                <li>Picaporte cerradura llaves para todas las puertas.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="containr menu text-white">
                    <div class="row justify-content-center pb-4 pt-2 m-0">
                        <div class="col-md-6">
                            <h1>Envianos tu mensaje</h1>
                            <form target="_blank" action="https://formsubmit.co/roaxviviendas@gmail.com" method="POST">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col">
                                        <input type="text" name="name" class="form-control" placeholder="Nombre" required>
                                    </div>
                                    <div class="col">
                                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="ciudad" class="form-control" placeholder="Ciudad" required>
                                    </div>
                                    <div class="col">
                                        <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" class="form-control" placeholder="Teléfono" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea placeholder="Tu mensaje" class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-lg btn-dark btn-block">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            </section>
            <a href="https://wa.me/3518581684/?text=Hola%20tengo una consulta%20con uno de los modelos." target="_blank">
                <img src="/img/icons/WApp.svg" alt="WppI" class="WppWidget">
            </a>
            <footer>
                <div class="container mt-5">
                    <div class="row mt-2">
                        <div class="col-md-2 col-xs-12 logo-footer container">                        
                            <a href="/index.html">
                                <img src="/img/logo.svg" alt="Logo Roax">
                            </a>
                        </div>              
                        <div class="col-md-3 col-xs-12">
                            <h4 class="text-uppercase">ubicación</h4>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d300.9436681329084!2d-64.18829068421768!3d-31.419954336465082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a32dcf5d747f%3A0x40373220b29140ac!2sPatio%20Olmos%20Shopping!5e0!3m2!1ses!2sar!4v1667692765526!5m2!1ses!2sar"
                                width="280" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-uppercase">Horario de atencion</h4>
                            <p>Lunes a Viernes de 9:00 a 18:00 hs</p>
                            <h4 class="text-uppercase">contacto</h4>
                            <div><a href="https://wa.me/3518581684/?text=Hola%20tengo una consulta%20con uno de los modelos." target="_blank"><img src="/img/icons/WppI.svg" alt="wpp icon" class="ficon">0351 15-858-1684</a></div>
                            <div><img src="/img/icons/@.svg" alt="email icon" class="ficon"><a href="mailto:Roaxviviendas@gmail.com"> Roaxviviendas@gmail.com</a></div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <h4 class="text-uppercase">seguinos</h4>
                            <div><img src="/img/icons/fb.svg" alt="facebook" class="ficon"><a href="https://www.facebook.com/people/Roax-Viviendas/100083296300694/" target="_blank">Roax-Viviendas</a></div>
                            <div><a href="https://www.instagram.com/roaxviviendas/" target="_blank"><img src="/img/icons/IgI.svg" alt="instagram"  class="ficon">@roaxviviendas</a></div>
                        </div>  
                    </div>
                    <div class="row">
                        © 2022 Copyright: Roax.com
                    </div>
                </div> 
            </footer>
        </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>